Allow for non-unital double theories

Following Section 5 of [RFC-0001](https://next.catcolab.org/math/rfc-0001.xml), we should relax the `hom_type` method in the `DblTheory` trait to return an `Option<MorType>` instead of a `MorType`. This should be accompanied by adding a flag to concrete types for double theories signalling whether or not they are unital, i.e. allow loose identities to be constructed.